.app{
  display: grid;
  place-items:center;
  height:100vh;
  background-color: rgb(186, 214, 182);
}
.app_body{
  display: flex;
  background-color: rgb(238, 241, 239);
  margin-top: -50px;
  height: 90vh;
  width: 90vh;
  box-shadow: -1px 4px 20px -6px rgb(44, 43, 43);
}